/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/
body{
	display: flex;
	flex-flow: row;
	width: 100vw;
	height: 100%;
	font-family: helvetica;
	margin: 0;
	padding: 0;
	flex-direction: column;
}

header{
	height: 127px;
	background: #272221;
        display: flex;
        nav{
			display: flex;
			width: 100%;
			align-self: flex-end;
			justify-content: space-around;
			flex-flow: row;
            div{
				flex: 1 auto;
				padding: 10px 15px;
				text-align: center;
				cursor: pointer;
				a{
					text-decoration: none;
					color: white;
				}
				box-sizing: border-box;
			}
			.menu:hover{
				background-color: #413a38;
			}
			.menu:hover .submenu{
				display: block;
			}
			.menu{
				position: relative;
				z-index: 99;
			}
			.submenu{
				display: none;
				position: absolute;
				background-color: #413a38;
				width: 100vw;
				left: 0;
				z-index: 98;
				text-align: left;
				div{
					width: 100%;
				}
			}
			.submenu div:hover{
				background-color: #615653;
			}
        }
}

.row{
	box-sizing: border-box;
	display: flex;
	width: 100vw;
	flex-flow: row wrap;
}

.miniMenu{
	display: flex;
	justify-content: center;
	align-items: center;
	div{
		padding: 10px 15px;
		border-right:1px solid #272221;
	}
}

@mixin column {
	@for $i from 1 to 13 {
		.col-#{$i}{
			flex-basis: percentage(($i/12));
			box-sizing: border-box;
			min-height: 50px;
			img{
				width: 100%;
			}
		}
	}
}

@include column();

